In [1]:
from pyarrow import csv, parquet
import pandas as pd

In [24]:
import os, datetime

In [15]:
path = "../csv/"
field1 = ["field1.csv","field1_2.csv","field1_3.csv","field1_4.csv"]
field2 = ["field2.csv","field2_2.csv","field2_3.csv","field2_4.csv"]
field3 = ["field3.csv"]
field4 = ["field4.csv"]
field5 = ["field5.csv"]
field6 = ["field6.csv","field6_2.csv","field6_3.csv","field6_4.csv"]
fields = [field1,field2,field3,field4,field5,field6]

In [3]:
for field in fields:
    mainDf = pd.DataFrame()
    for file in field:
        filePath = path + file
        table = csv.read_csv(filePath)

In [61]:
filePath = path + fields[1][0]
table = csv.read_csv(filePath)

In [62]:
df = table.to_pandas()

In [63]:
df.rename(columns = {'name':'FIELD'}, inplace = True)

In [69]:
df = df.drop(columns='NAME')

In [70]:
df.head()

,FIELD,time,SERVICE_AC_ACTIVE_POWER,SERVICE_AC_VOLTAGE_R,SERVICE_AC_VOLTAGE_RS,SERVICE_AC_VOLTAGE_S,SERVICE_AC_VOLTAGE_ST,SERVICE_AC_VOLTAGE_T,SERVICE_AC_VOLTAGE_TR,SERVICE_DC_CURRENT,SERVICE_DC_VOLTAGE,SERVICE_FREQUENCY,SERVICE_ID,SERVICE_IGBT_MAX_TEMPERATURE
0,field2,1686515197000000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.00,1,24.0
1,field2,1686515197000000000,222.2,888.8,381.2,888.8,382.2,888.8,380.1,432.1,890.4,60.03,3,56.4
2,field2,1686515197000000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2,22.0
3,field2,1686515199000000000,222.2,888.8,381.2,888.8,382.2,888.8,380.1,432.1,890.4,60.03,3,56.4
4,field2,1686515199000000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,2,22.0

In [71]:
df["time"]=df["time"].map(lambda x: datetime.datetime.fromtimestamp(x/1000000000))

In [72]:
df["time"]=df["time"].map(lambda x: datetime.datetime.strftime(x,'%Y-%m-%dT%H:%M:%SZ'))

In [ ]:
df.set_index(["time","SERVICE_ID","FIELD"])

In [ ]:
df.to_parquet(path="../data/compacted.gzip",engine="pyarrow",compression="gzip",index=True,partition_cols=["name","tags"])

In [ ]:
tmp = parquet.read_table("../data/compacted.gzip/")

In [ ]:
tmp